body{
    background: #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}

article{
    background: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.heading{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.empty{
    color: red;
}

.table>thead{
    vertical-align: middle;
}