body{
    background: #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    text-align: right;
}


.heading{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid;
    margin-left: 10px;
    margin-right: 10px;
    width: 60vh;
}

.container{
    background: white;
}

.container-title{
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

.container-text{
    padding-bottom: 20px;
}

.container-bold{
    color: black;
}

.container-text-deadline{
    padding-bottom: 20px;
    color: red;
}


.form-input{
    display: flex;
    flex-direction: column;
}

.mb-3{
    display: flex;
    flex-direction: column;
}

.input_bold{
    color: red;
}

.answer{
    background: white;
    width: 80%;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.input-comment-section{
    display: flex;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: stretch;
}


.comment-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-container{
    display: flex;
    flex-direction: row;
    width: 55vh;
    height: fit-content;
    margin-bottom: 20px;
    border: black solid;
    padding-top: 10px;
}

.comment-profile-pic{
    width: 10vh;
}

.comment-body{
    width: 100%;
    height: fit-content;
    padding-left: 10px;
}

.comment-indicator{
    text-align: center;
    color: black;
    margin-bottom: 30px;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    flex-wrap: nowrap;
}

.fa-file-download:before {
    font-size: 30px;
}