body{
    background: #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    text-align: right;
}


.heading{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid;
    margin-left: 10px;
    margin-right: 10px;
    width: 60vh;
}

.container{
    background: white;
}

.container-title{
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.container-text{
    padding-bottom: 20px;
}

.container-bold{
    color: black;
}

.container-text-deadline{
    padding-bottom: 20px;
    color: red;
}


.form-input{
    display: flex;
    flex-direction: column;
}

.mb-3{
    display: flex;
    flex-direction: column;
}

.input_bold{
    color: red;
}

.answer{
    background: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

.input-comment-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mb-3{
    width: 50vh;
}
