body{
    background: #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    background: #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}

.buttonChoose{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: black;
}

.failed{
    color: red;
    display: flex;
    justify-content: center;
}
