body{
    background: #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    text-align: right;
}

.heading{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.searchby{
    margin-right: 5px;
    border-radius: 1rem;
    outline: none;
    background: #404040;
    color: white;
    width: 20vh;
}

article{
    background: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tgs{
    text-align: center;
}

.form-select{
    margin-bottom: 20px;    
}

.form-control{
    margin-bottom: 20px;
}

.deadline{
    color: red;
}

a{
    text-decoration: none;
    color: black;
}

.search-task{
    display: flex;
}

.a_indicator{
    color: red;
}

.empty{
    color: red;
}
